<div class="special-block">
        <div class="h3 special-block__h3">
          Tell to Your Friends
        </div>
        <div class="special-block__text">
          <span>Some of your friends may like to visit if you </span>
          <span>recommend us. They’ll trust your taste!</span>
        </div>

        <div class="socials">
          <div class="row justify-content-center">
            <div class="col col-2">
              <div class="fb">
                <a href="https://www.facebook.com/" target="_blank">
                  <div class="fb-wrapper">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    Share
                  </div>
                </a>
              </div>
            </div>
            <div class="col col-2">
              <div class="twit">
                <a href="https://twitter.com/" target="_blank">
                  <div class="twit-wrapper">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Tweet
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>