<div class="special-block">
  <h3 class="special-block__h3">
    SIGN UP FOR SPECIAL OFFERS
  </h3>
  <div class="special-block__text">
    <span>Enter your mail and you will get the best </span>
    <span>offers we have directlly to your inbox</span>
  </div>
</div>
<div class="send-form">
  <div class="inputs-block">
    <input type="text" class="input-offers" placeholder="ENTER HERE YOUR EMAIL" required>
    <div class="btn-send max-width__sned">
      <button class="" type="button">
        SEND
      </button>
    </div>
  </div>
</div>
