<section class="order-block">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col col-sm-12">
        <div id='anchor'></div>
        <h2 class="order-block__h2">
          PLEASE SELECT A CONVENIENT TIME TO LEAVE YOUR VEHICLE WITH US
        </h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="order-form">
      <div class="row justify-content-center">
        <app-order-form></app-order-form>
      </div>
    </div>
  </div>

    <div class="conrainer-fluid border-top__grey">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 offset-1">
          <app-offers></app-offers>
        </div>
        <div class="col-12 col-12 col-lg-1">
          <div class="line-wrapper">
            <div class="line"></div>
            <div class="line-txt">Or</div>
            <div class="line"></div>
          </div>
        </div>

        <div class="col-12 col-12 col-lg-6">
          <app-share></app-share>
        </div>
      </div>
    </div>
</section>
