<footer class="footer-bg">
    <div class="container-fluid">
      <div class="footer-container">
          <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-lg-3 col-xl-3">
                  <div class="footer-top">
                      <div class="logo">
                        <a href="#">
                          <img src="../../../assets/images/logo.png" alt="Logo">
                        </a>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-12  col-lg-9 col-xl-9">
                <div class="footer-menu">
                  <div class="row justify-content-center">
                    <div class="col col-md-2 col-lg-4 col-xl-2 margin-bottom-10">
                      <div class="footer-menu__title">Category</div>
                      <ul>
                        <li><a href="#">Heading</a></li>
                        <li><a href="#">Heading</a></li>
                        <li><a href="#">Heading</a></li>
                        <li><a href="#">Heading</a></li>
                        <li><a href="#">Heading</a></li>
                        <li><a href="#">Heading</a></li>
                      </ul>
                    </div>
                    <div class="col col-md-2  col-lg-4 col-xl-2">
                        <div class="footer-menu__title">Category</div>
                        <ul>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                        </ul>
                    </div>
                    <div class="col col-md-2 col-lg-4 col-xl-2">
                        <div class="footer-menu__title">Category</div>
                        <ul>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                        </ul>
                    </div>
                    <div class="col col-md-2 col-lg-4 col-xl-2">
                        <div class="footer-menu__title">Category</div>
                        <ul>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                        </ul>
                    </div>
                    <div class="col col-md-2 col-lg-4 col-xl-2">
                        <div class="footer-menu__title">Category</div>
                        <ul>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                          <li><a href="#">Heading</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      
  
      <div class="line_white"></div>
      <div class="footer-bottom"> 
          <div class="row">
              <div class="col">
                <div class="footer-bottom__txt">
                    Connect with us
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                <div class="footer-bottom__socials">
                  <div class="fb">
                    <a href="https://www.facebook.com/" title="Facebook" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </div>
                  <div class="tweet">
                    <a href="https://twitter.com/" title="Twitter" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="google">
                    <a href="https://plus.google.com/discover" title="Google" target="_blank">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
          </div>
      </div>
        
    </div>
  </footer>
  